.g-image {
  position: relative;
  overflow: hidden;
}
.g-image__placeholder {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: none;
  object-fit: cover;
  object-position: center center;
  transition: opacity 500ms ease-out;
  transition-delay: 0.25s;
}
.g-image__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms ease-out;
  transition-delay: 0.25s;
}
.g-image--loaded .g-image__placeholder {
  opacity: 0
}
.g-image--loaded .g-image__image {
  opacity: 1
}
