h1 {
  font-size: 6rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="20" height="317" viewBox="0 0 20 317" fill="none" xmlns="http://www.w3.org/2000/svg"> <g opacity="0.1"> <path d="M4.45203Z" fill="url(%23paint0_linear)"/> </g> </linearGradient> </defs> </svg>');
}
h2 { font-size: 4rem; }
h3 { font-size: 2rem; }
